In [158]:
import pandas as pd

In [159]:
df = pd.read_csv("ad.csv")
df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Gender,Country,Timestamp,Clicked on Ad
0,78.84,30.0,68448.94,161.79,Front-line even-keeled website,Silvaton,Male,Peru,2016-04-04 03:57:48,1
1,60.23,35.0,66815.54,216.24,Front-line fresh-thinking open system,West Jeremyside,Male,Papua New Guinea,2016-06-18 16:02:34,0
2,46.20,49.0,62109.80,135.24,Enhanced maximized access,Lake Vanessa,Male,Chile,2016-06-26 07:01:47,1
3,87.85,31.0,50055.33,134.46,Total zero administration software,Port Sherrystad,Male,French Polynesia,2016-04-18 21:07:28,1
4,64.38,37.0,55121.65,232.54,Devolved regional moderator,South Patrickfort,Female,Bosnia and Herzegovina,2016-07-18 18:33:05,0

In [160]:
df.isnull().sum()

Daily Time Spent on Site    0
Age                         0
Area Income                 0
Daily Internet Usage        0
Ad Topic Line               0
City                        0
Gender                      0
Country                     0
Timestamp                   0
Clicked on Ad               0
dtype: int64

In [161]:
df.columns

Index(['Daily Time Spent on Site', 'Age', 'Area Income',
       'Daily Internet Usage', 'Ad Topic Line', 'City', 'Gender', 'Country',
       'Timestamp', 'Clicked on Ad'],
      dtype='object')

In [162]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  50000 non-null  float64
 1   Age                       50000 non-null  float64
 2   Area Income               50000 non-null  float64
 3   Daily Internet Usage      50000 non-null  float64
 4   Ad Topic Line             50000 non-null  object
 5   City                      50000 non-null  object
 6   Gender                    50000 non-null  object
 7   Country                   50000 non-null  object
 8   Timestamp                 50000 non-null  object
 9   Clicked on Ad             50000 non-null  int64
dtypes: float64(4), int64(1), object(5)
memory usage: 3.8+ MB

In [163]:
X = df.iloc[:, 0:7]
X = X.drop(['Ad Topic Line', 'City', 'Gender'], axis=1)
X

       Daily Time Spent on Site   Age  Area Income  Daily Internet Usage
0                         78.84  30.0     68448.94                161.79
1                         60.23  35.0     66815.54                216.24
2                         46.20  49.0     62109.80                135.24
3                         87.85  31.0     50055.33                134.46
4                         64.38  37.0     55121.65                232.54
...                         ...   ...          ...                   ...
49995                     56.64  37.0     64011.26                124.34
49996                     78.36  42.0     60812.77                145.98
49997                     38.35  33.0     51512.66                226.54
49998                     75.84  36.0     50971.73                218.17
49999                     41.84  41.0     39723.97                156.36

[50000 rows x 4 columns]

In [164]:
#df = pd.get_dummies(df, columns= ["Gender"])
#df.head()

In [165]:
#df["Gender_Female"] = df["Gender_Female"].astype(int)

In [166]:
#["Gender_Male"] = df["Gender_Male"].astype(int)

In [167]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  50000 non-null  float64
 1   Age                       50000 non-null  float64
 2   Area Income               50000 non-null  float64
 3   Daily Internet Usage      50000 non-null  float64
 4   Ad Topic Line             50000 non-null  object
 5   City                      50000 non-null  object
 6   Gender                    50000 non-null  object
 7   Country                   50000 non-null  object
 8   Timestamp                 50000 non-null  object
 9   Clicked on Ad             50000 non-null  int64
dtypes: float64(4), int64(1), object(5)
memory usage: 3.8+ MB

In [168]:
df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Gender,Country,Timestamp,Clicked on Ad
0,78.84,30.0,68448.94,161.79,Front-line even-keeled website,Silvaton,Male,Peru,2016-04-04 03:57:48,1
1,60.23,35.0,66815.54,216.24,Front-line fresh-thinking open system,West Jeremyside,Male,Papua New Guinea,2016-06-18 16:02:34,0
2,46.20,49.0,62109.80,135.24,Enhanced maximized access,Lake Vanessa,Male,Chile,2016-06-26 07:01:47,1
3,87.85,31.0,50055.33,134.46,Total zero administration software,Port Sherrystad,Male,French Polynesia,2016-04-18 21:07:28,1
4,64.38,37.0,55121.65,232.54,Devolved regional moderator,South Patrickfort,Female,Bosnia and Herzegovina,2016-07-18 18:33:05,0

In [169]:
y = df.iloc[:, 9]
y

0        1
1        0
2        1
3        1
4        0
        ..
49995    1
49996    1
49997    1
49998    1
49999    1
Name: Clicked on Ad, Length: 50000, dtype: int64

In [170]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.85, random_state=42)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(7500, 4)
(42500, 4)
(7500,)
(42500,)

In [171]:
from sklearn.linear_model import LogisticRegression

Lr= LogisticRegression(C = 0.01, random_state= 42)
Lr.fit(X_train, y_train)
y_pred = Lr.predict(X_test)
y_pred

array([1, 0, 1, ..., 0, 0, 1], dtype=int64)

In [172]:
y_pred_proba = Lr.predict_proba(X_test)
y_pred_proba

array([[0.40222515, 0.59777485],
       [0.89281328, 0.10718672],
       [0.04433153, 0.95566847],
       ...,
       [0.5645068 , 0.4354932 ],
       [0.5304279 , 0.4695721 ],
       [0.32828436, 0.67171564]])

In [173]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.7249882352941176

In [174]:
from sklearn.metrics import f1_score
f1_score(y_test, y_pred)

0.7176129499879198